/* prevent problems with different browsers */
* {box-sizing: border-box;}

header img {
    background-color: white;
}

header h1{
    color: red;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 1.5rem .1rem .1rem .1rem;
    padding: 0 10px;
}

header p {
    color: #00ff51;
    font-size: 1.25rem;
    font-weight: 300;
    margin: .1rem;
    padding: 0 10px;
}

@media only screen and (min-width: 601px) {
header {
    background-color: #79cdfc;
    padding: 10px 2px;
    display: flex;
    text-align: center;
    padding: 1rem 40% 1rem 40%;
}
        nav ul {
    display: flex;
    padding: 1rem 1rem;
    text-decoration: ;
    font-size: 1.3rem;
    color: lightgreen;
    font-weight: 700;
}

}
@media only screen and (max-width: 601px) {
header {
    background-color: #79cdfc;
    padding: 10px 2px;
    display: flex;
    text-align: center;
    padding: 1rem 3rem 1rem 10%;
}
    nav a {
    display: block;
    padding: 1rem 1rem;
    text-decoration: ;
    font-size: 1.3rem;
    color: lightgreen;
    font-weight: 700;
}

}
nav {
    background-color: darkcyan;
}
nav ul {
    margin: .1rem;
    padding: 0 10px;
    list-style-type: none;
    display: wrap;
    font-size: 1.3rem;
}
    nav a {
        display: flex;
        padding: 1rem 1rem;
    text-decoration: ;
    font-size: 1.3rem;
    color: lightgreen;
    font-weight: 700;
    }

nav li.active a{
    background-color: white;
    color: orange;
}

nav li a:hover {
    color: black;
}


main {
    padding: .1rem 10px;
}
main h1 {
    color: aqua;
}
main h2 {
    color: red;
    margin-bottom: .4rem;
    
}
main p {
    margin: 1rem;
    color: #805580;
}
main ol {
    padding: .5rem 30px;
    background-color: lightcyan;
    color: #805580;
}
main dl dt {
    color: #805580;
    font-weight: 700;
    margin-top; 1rem;
}
main dl dd{
    color: #805580;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}
main ul li { 
    line-height: 150%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main em {
    font-weight: 700;
}
main address {
    font-style:italic;
    background: black;
    color: white;
    padding: .5rem;
    border-radius: 34px;
    border: 10px solid purple;
    width: 200px;
}
main a {
    color: seagreen;
}
main a:hover {
    color: rgb(180, 4, 18);
}

div.main {
    display: flex;
    flex-wrap: wrap;
}

div.main figcaption {
    text-align: center;
    font-size: 2rem;
    color: black;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: 2rem;
    color: red;
}

.myForm label{
    padding: .75rem;
    font-size: 1.25rem;
    color: ;
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea {
    display: block;
}

.myForm fieldset {
    border: 5px solid skyblue;
    margin: 1rem 0 2rem 0;
}

.myForm textarea {
    height: 17.25rem;
    width: 17.25rem;
    border: 10px double darkcyan;
}

.myForm select {
    height: 3rem;
    border: 2.5px solid royalblue;
}

.myForm :required {
    background-color: rgba(156,51,53,0.3);
}

.myForm [type=submit] {
    background-color: skyblue;
    border: 5px outset lawngreen;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: red;
    margin: 1rem 0 0 1vw;
    font-size: 1.25rem;
}

figure.thanks {
    margin-left: 35%;
}


table.our-activities {
    width: 100%;
    border-collapse: collapse;
}

table.our-activities th {
    background-color: #00b57c;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
}

table.our-activities td {
    color:lightgreen;
    padding: .4rem 2vw;
}

table.our-activities tr:nth-child(odd) {
    background-color: orange;
}
table.our-activities tr:hover {
    background-color: #72d4f7;
}

main address.contacts {
    font-style: normal;
    background: orange;
    color: black;
    padding: .5rem;
    border-radius: 34px;
    border: 10px outset grey ;
    width: 200px;
}

footer {
    background-color: lightcyan;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color:#333;
    letter-spacing: 5px;
}

